.App {
  text-align: center;
}

.content{
  background-color: #293034;
  width: 100%;
  max-width: 1600px;
  padding-block: 1.5em;
  padding-inline: 0.5em;  /* min-height: 500px; */
  border-radius: 10px;
  height: auto;
}

.content-dark{
  background-color: #181C1F;
  width: 100%;
  max-width: 1600px;
  padding: 1.5em;
  /* min-height: 500px; */
  border-radius: 5px;
  height: auto;
}

.text-green {
  color: #10D078;
}


.form-control:focus{
  box-shadow: 0 0 0 0.12rem rgb(16, 208, 120, .9);
}
.form-control:disabled{
  color: #B4B1B1;
}

/*  apex */

.apexcharts-legend-text{
  color: white;
}


/* mui */


.grid-header{
  color: #B4B1B1;
}

.grid-header-wrapper-alt .MuiDataGrid-columnHeaderWrapper {
  background-color: #181C1F!important;
  border-radius: 10px 10px 0 0;
}

.grid-content-alt{
  background-color: #181C1F ;
}

.grid-content{
  background-color: #181C1F ;
  border-radius: 10px 10px 18px 18px;
}

.grid-content div{
  color: white;
  text-align: center;
}

.MuiDataGrid-root{
  border: 0!important;
}

.MuiDataGrid-root .MuiDataGrid-columnsContainer{
  border-bottom: 3px solid #293034 !important;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle{
  font-size: smaller;
}
.MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer{
  padding: 0 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-row{
  width: 100%!important;
}

.MuiDataGrid-root .MuiDataGrid-cell{
  font-size: smaller;
  padding-inline: 0 !important;
  border-bottom: 6px solid #293034 !important;
  border-bottom: 6px solid #293034 !important;
}

.MuiDataGrid-overlay{
  z-index: 500 !important;
}

.backdrop-loading{
  z-index: 500 !important;
  color: '#fff' !important;
}
