.selectdiv {
    position: relative;
    cursor: pointer;
  }
  .selectdiv:after {
    content: '\25be ';
    color: #919191;
    left: -2px;
    font-size: 50px;
    padding: 0px;
    margin-top: -15px;
    position: absolute;
    pointer-events: none;
    cursor: pointer;
}
.ant-select-multiple .ant-select-selection-item-content{
    color: #ffffff!important;
}
.ant-select-multiple .ant-select-selection-item-remove{
    margin-right: 3px!important;
    color: #ffffff!important;
    margin-top: -2px!important;
}
.ant-select-multiple .ant-select-selection-item{
    background-color: #669acc!important;
    border-radius: 7px!important;
}
.widthGaranty{
    width: 94%;
    
}
.w-52{
    width: 52%;
}
