.userPanel{
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-direction: column;
    /* height: 100%; */
}
.tableContainer{
    background-color: #293034;
    /* width: 1610px; */
    height: 670px;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.rowEdit{
    /* width: 120px; */
    height: 40px;
    background-color: #10D078;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}